snippet diff "Diff code block" b
\`\`\`diff
`!v @"`\`\`\`
endsnippet

snippet fenced "Fenced code block" b
\`\`\`$1
`!v @"`\`\`\`
endsnippet

snippet link "Link"
[${1:text}](${2:URL})$0
endsnippet

snippet suggest "Suggestion code block" b
\`\`\`suggestion
`!v @"`\`\`\`
endsnippet

snippet sup "Superscript" i
<sup>$1</sup>$0
endsnippet
