snippet learning "Insert learning question" b
[learning question] $0
endsnippet

snippet suggest "Insert Markdown suggestion" b
\`\`\`suggestion$0
`!p
snip.rv += '\n'
snip.rv = '\n'.join([line[1:] for line in vim.eval('@"').splitlines()])
`
\`\`\`
endsnippet

snippet typo "Insert typo correction" b
[nit] typo
\`\`\`suggestion$0
`!p
snip.rv += '\n'
snip.rv = '\n'.join([line[1:] for line in vim.eval('@"').splitlines()])
`
\`\`\`
endsnippet
