snippet prn "Log a value" b
console.log('%c%s', 'color:mediumseagreen;font-weight:bold', '${2:$1}', ${1});
endsnippet

snippet spy "Log a value and return it" i
(x=>{console.log('%c%s', 'color:mediumseagreen;font-weight:bold', '`!p snip.rv = t[1].replace('\n', ' ').replace("'", '"')`', x); return x})(${1:${VISUAL}})
endsnippet
