snippet block "wrap block in curly braces" b
{
  ${1:${VISUAL}}
}
endsnippet

snippet blockfn "convert expression to function body" b
{
  return ${1:${VISUAL}}
}
endsnippet

snippet if "wrap block in 'if'" b
if ($1) {
  ${VISUAL}
}
endsnippet

snippet try "wrap block in 'try'" b
try {
	${1:${VISUAL}}
} catch (error) {
	${0}
}
endsnippet
