snippet desc "Jest 'describe' block" b
describe('$1', () => {
	$0
});
endsnippet

snippet test "Jest 'test' block" b
test('$1', async () => {
	$0
});
endsnippet

snippet it "Jest 'it' block" b
it('$1', async () => {
	$0
});
endsnippet
