snippet test "Arrange, Act, Assert style test" b
    @Test
    public void testCreateVantageWorkbook() {
        // Arrange

        // Act
				$0

        // Assert
				assertThat(false).isTrue();
    }
endsnippet
