snippet reg-action "register an action" b
(nxr/register-action! :$1
  (fn [db $2]
	  $0))
endsnippet

snippet reg-effect "register an effect" b
(nxr/register-effect! :effect/$1
  (fn [_ conn $2]
    $0))
endsnippet

snippet reg-placeholder "register a placeholder" b
(nxr/register-placeholder! :event/$1
  (fn [{:replicant/keys [$2]}]
    $0))
endsnippet
