snippet reg-action "register an action" b
(nxr/register-action! :$1
  (fn [state $2]
	  $0))
endsnippet

snippet reg-effect "register an effect" b
(nxr/register-effect! :$1
  (fn [_ store $2]
    $0))
endsnippet

snippet reg-placeholder "register a placeholder" b
(nxr/register-placeholder! :$1
  (fn [{:replicant/keys [$2]}]
    $0))
endsnippet
