snippet cli "wrap command line args destructuring in cli/parse-opts" i
{{:keys []} :options ${VISUAL:[]/ \*command-line-args\*//} :arguments} (cli/parse-opts *command-line-args* cli-opts)
endsnippet

snippet multi "repeatable CLI option" b
:multi true
:default []
:update-fn conj]])
endsnippet

snippet opts "CLI opts" b
(def cli-opts
	[$0])

(let [{{:keys [$1]} :options [$2] :arguments} (cli/parse-opts *command-line-args* cli-opts)])
endsnippet
